*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#box{
    height: 100%;
    width: 100%;
    background-color:lightblue;
    padding: 10px;
    display: flex;
    gap: 20px;

}
#box1{
    height: 300px;
    width:250px;
    background-color: white;
    border-radius: 10px;
    box-shadow:  10px 10px 20px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 30px;
    
}
#box1 img{
    height:100px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}
#box p{
    /* padding-top: 5px; */
}
#box h2{
    /* padding-top: 5px; */
    font-size: 30px;
    font-weight: 500;
}
#box1  button{
    border: none;
    padding: 10px 20px ;
    border-radius: 50px;
   background-color: rgb(85, 202, 241);
   color: white ;
   border: 2px solid rgb(85, 202, 241);
   cursor: pointer;
   /* margin-top: 10px; */
   }
#box1 button:hover{
    background-color: transparent;
    color: rgb(85, 202, 241);
    




















/* #box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    position: absolute;
    top:50%; 
    left: 50%; 
    transform: translate(-50%,-50%);   
     /* z-index: 5;  
   
} 
/* #box2{
    height: 200px;
    width: 200px;
    background-color:skyblue;
       position: absolute;
    top:59%;
    left: 58%;
    z-index: 8;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: lawngreen;
    position: absolute;
    top:54%;
    left: 54%;
    z-index: 11;
} */


 /* Flex box and flex-direction  */

 /* #box{
      height: 100%;
    width: 100%;
    background-color: black; 
    display: flex;
    overflow: scroll;
    
    /* flex-wrap: wrap; */
    /* flex-shrink: 0; */
    /* align-items: center;
    justify-content: center ;
    flex-direction: row-reverse; */
   
 /* } */

/*#box1{
     height: 200px;
    width: 200px;
    background-color: crimson;
    border: 3px solid white;
      flex-shrink: 0;

}
 #box2{
    height: 200px;
    width: 200px;
    background-color:skyblue;
    border: 3px solid white;
      flex-shrink: 0;
}
#box3{
    height: 200px;
    width: 200px;
    background-color: lawngreen;
    border: 3px solid white;
      flex-shrink: 0;
} */


