*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:white;
}
#nav{

    background-color:white ;
    display: flex;
    align-items: flex-start;
    gap: 10px;
     justify-content:space-evenly ;   
    padding-top: 10px;
   /* padding-left: 5px; */
}
#nav h1{
    color: black;
    font-size: 25px;
    font-weight: 300;
}
#nav a{
    text-decoration: none;
    color: black ;
    /* padding-right: 15px; */
} 
#main>h1{
    font-size: 200px;
    font-weight: 400;
    padding-left: 160px;
}
#btmleft{
    width: 300px;
    position: absolute;
    bottom: 50px;
    left: 15px;
}
#btmleft h3{
    padding-bottom: 5px;
}
#btmleft h4{
    padding-top: 5px;
    
}
#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 70px;
    padding-left: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#bottombar a{
    
    color:black;
}
#main img{
    height: 250px;
    position: absolute;
}
#img1{
    opacity: 0.9;
    bottom: 160px;
    right: 395px;
}
#img2{
    opacity: 0.9;  
    bottom: 100px;
    right: 550px;
    top: 300px; 
}
#img3{
    
    bottom: 100px;
    right: 700px;

}
   