*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.box{
     text-align: center; 
     background-color: rgb(21, 21, 44);
    height: 200px;
    width: 1300px;   
    padding-top: 50px ;
    color: white;
    
}

 .box1{
    height: 200px;
    width: 1200px;
    text-align: center;
    margin-top: 15PX;
    margin-right: 50px;
    margin-left: 50px;
    padding-top:50px;
    background-color:aliceblue;
 }
 .box1 p{
    padding-left: 5px;
    padding-right: 5px;
 }
 #box2{
      height: 200px;
    width: 1200px;
    text-align: center;
    margin-top: 15px;
    padding-top: 50px;
     margin-right: 50px;
    margin-left: 50px;
   background-color: lightblue;
 }
 #box3{

    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;
 }
    #box4{
         height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;

    }
    #box5{
         height: 280px;
         width: 1200px;
        text-align: center;
       margin-top: 15px;
       padding-top: 20px;
       margin-right: 50px;
       margin-left: 50px;
       background-color: #fff9c6;
 }
    #box6{
      
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;
    }
     #box7{
      
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;
    }
     #box8{
      
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;
    }
     #box9{
      
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;
    }

#project{
    height: 280px;
         width: 1200px;
        text-align: center;
       margin-top: 15px;
       padding-top: 20px;
       margin-right: 50px;
       margin-left: 50px;
       background-color: #e7d1f9;
        
 }
 #pro1{
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;

 }
  #pro2{
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;

 }
  #pro3{
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;
 }
 #contact{
   height: 280px;
         width: 1200px;
        text-align: center;
       margin-top: 15px;
       padding-top: 20px;
       margin-right: 50px;
       margin-left: 50px;
       background-color: rgb(222, 255, 222);

 }
 #con{
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;

 }
  #con1{
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;

 }
  #con2{
    height:40px ;
    width: 500px;
    text-align: center;
    background-color: white;
    padding-top: 10px;
    padding-left: 35px;
    margin-top: 10px;
    margin-left: 350px;
    margin-right: 40px;
    border-radius: 5px;

 }
 #footer{
   height: 80px;
   text-align: center;
   background-color:darkslategray; ;
   padding-top: 20px;
 }
